# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Env files — NUNCA subir esto a GitHub
.env
backend/.env

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
